@import url("https://fonts.googleapis.com/css?family=Poppins");

/* Responsive Styling */
@media only screen and (max-width: 600px) {
  .styled-table {
    font-size: 0.8em;
  }

  .styled-table th,
  .styled-table td {
    padding: 8px 10px;
  }

  .btn {
    padding: 8px;
    font-size: 14px;
  }
}

/* Mobile-friendly Buttons */
.btn {
  border: none;
  border-radius: 5px;
  padding: 8px;
  font-size: 16px;
  cursor: pointer;
}

.btn-edit {
  background-color: #3386ff;
  opacity: 0.75;
  color: #ffffff;
}

.btn-delete {
  background-color: #57a5e6;
  color: #ffffff;
}

.btn-view {
  background-color: #4987f2;
  color: #ffffff;
}

.btn-contact {
  background-color: #1969f3;
  color: #ffffff;
  padding: 8px;
  width: 200px;
  border-radius: 5px;
}

/* Scrollable Table */
.table-container {
  overflow-x: auto;
}

/* Improved Button Layout */
td button {
  margin-right: 5px;
  margin-bottom: 5px;
}

/* Your existing styles for the table */
.styled-table {
  padding: 300px;
  border-collapse: collapse;
  margin: auto;
  font-size: 0.9em;
  font-family: "Poppins";
  max-width: fixed;
  box-shadow: 0 17px rgba(1, 119, 237, 0.805);
}

.styled-table thead tr {
  background-color: #3386ff;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #4f8dd8;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #cddfe4;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #058daf;
}
