body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  form {
    width: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    border-style: solid ;
    border-width: 1px;
  }

  h1 {
    grid-column: span 2;
    text-align: center;
    color: #333;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    grid-column: span 2;
    background-color: #2f8ae0;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  div.buttons-container {
    display: flex;
    justify-content: space-between; /* This will create space between the buttons */
    padding-left: 30px;
  }